.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(176, 170, 197);
}
.container__design {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
