.card {
  border-radius: 40px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: transparent;

  max-height: 500px;
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 40px;
}
